* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: black;
    font-family: 'Sofia Sans Condensed', sans-serif;
}

.container {
    width: 360px;
    height: 100vh;
    margin: 56px auto 0px;
    padding: 0 24px;
    box-shadow: 8px 5px 30px black;
    border: 1px solid #daa520;
}
.profile {
    display: flex;

}
.profile img{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
    border-radius: 100%;
    border: 2px solid #daa520;
    box-shadow: 8px 5px 30px black;

}

.title h1 {
    color: #daa520;
    text-align: center;
    margin: 10px auto;
    font-size: 400;
    }

    .listas {
        display: flex;
        text-align: center;
        color: white;
    }

    ul {
        color: white;
        text-align: center;
        margin: 10px ;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 12px; 
        padding: 24px 0;
        align-items: center;
        
    }

    li {

        width: 100%;
    }

    ul li a {
        display: flex;
        align-items: center;
        justify-content: center; 
        padding: 10px 24px;  
        color: black;
        background: #daa520;
        border: 1px solid #daa520;
        border-radius: 8px;
        text-decoration: none;
        font-weight: 500;

    }

    #social-links {
        display: flex;
        justify-content: center;
        
        padding: 5px 0;
        font-size: 24px;
    }
    
    #social-links a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 16px;
        color: #daa520;
        border-radius: 50%;
    }
    
    #social-links a:hover {
        background: white;
        color: black;
    }

    .Listas li:hover{
        transform:scale3d(3px)
    }




